<qbean name="http-service-mapper"
       class="ir.piana.dev.microservice.context.http.QPHttpServiceMapperModule"
       logger="Q2">
    <property name="qp-space" value="tspace:default" />
    <property name="qp-in" value="qp-http-request-multiplexor-module-in" />
    <property name="qp-will-be-registered" value="true" />

    <qp-authenticator module-name="basic-authenticator" />

    <qp-spring-context>default</qp-spring-context>

    <qp-repository name="p1"
                   spring-context="default"
                   scope="singleton"
                   class="ir.piana.dev.microservice.sample.HelloWorld"/>
    <qp-repository name="p2"
                   spring-context="default"
                   scope="singleton"
                   class="ir.piana.dev.microservice.util.http.repo.QPUtilRepository"/>

    <qp-handler url="sample"
                method="get"
                roles="user"
                repository="p1"
                handler="handler1"/>
    <qp-handler url="/**"
                method="get"
                roles="user"
                repository="p2"
                handler="staticResourceHandler">
        <property name="static-resolver-module-name" value="qp-resource-resolver" />
    </qp-handler>
</qbean>